@font-face {
  font-family: 'Noto Serif';
  src:
    url('fonts/noto-serif-regular.woff2') format('woff2'),
    url('fonts/noto-serif-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src:
    url('fonts/noto-serif-bold.woff2') format('woff2'),
    url('fonts/noto-serif-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'voobschem';
  src:
    url('fonts/voobschem-icons.ttf') format('truetype'),
    url('fonts/voobschem-icons.woff') format('woff'),
    url('fonts/voobschem-icons.svg#voobschem') format('svg');
  font-weight: normal;
  font-style: normal;
}