.icon {
  font-family: 'voobschem' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--odnoklassniki:before {
  content: "\e902";
}
.icon--vkontakte:before {
  content: "\e903";
}
.icon--facebook:before {
  content: "\e904";
}
.icon--twitter:before {
  content: "\e906";
}
.icon--telegram:before {
  content: "\e907";
}
